@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Hey, Welcome!</h1>
    <p>This is just a sample CRUD website built with .Net Core 6 for learning purpose.</p>
</div>
